

#nav-a {
    margin-left: 90vh;
    display: flex;
}

#iconemlg-a {
    margin-left: 30vh;
}

#bg-hero {
    background-image: url(../../../public/img/hero.jpeg);
    background-size: 100%;
    background-position-y: 95%;
    height: 90vh;
}